Package: com.mlgm.pulloverx
Name: PullOver X
Version: 1.6
Description: 悬浮多任务窗口工具，基于 Pullover Pro 进行修改
Section: Tweaks
Depends: firmware (>= 14.0), mobilesubstrate, preferenceloader, com.opa334.altlist
Conflicts: com.dao.pulloverpro, com.c1d3r.pulloverpro
Replaces: com.dao.pulloverpro, com.c1d3r.pulloverpro
Priority: optional
Architecture: iphoneos-arm
Author: mlgm
dev: mlgm
Icon: https://mlgm66.github.io/icon/pullover.png
SileoDepiction: https://mlgm66.github.io/depictions/com.mlgm.pulloverx/depiction.json
Maintainer: mlgm
